#projetos{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 40px 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

}

.projetos_titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.projetos_titulos h2{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

}

.projetos_titulos p{
    font-size: 1.22rem;
    font-style: oblique;
}

.projetos_images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas:
    "p1 p2"
    "p3 p4"
    ;
}

.p1{
    margin-right: auto;
    grid-area: p1;
}

.p2{
    margin-left: auto;
    grid-area: p2;
}

.p3{
    margin-right: auto;
    grid-area: p3;
}

.projetos_images img{
    width: 90%;
    height: 90%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.9s;

}

.projetos_images img:hover{
    width: 100%;
    height: 100%;
}

.img_projeto {
    display: flex;
}

.tituloimg{
    display: none;
}

.js_tituloimg{
    display: flex;
}